<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
	<meta charset="UTF-8">
	<title>Интерактивная карта</title>
	<meta name="description" content="">
	<meta name="keywords" content=" ">
	<link rel="stylesheet" href="{% static 'main/map.css' %}">
	<script src="{% static 'main/main.js' %}"></script>
	<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
{% block content %}
<header class="site-header">
    <div class="container-inner">  <!-- обертка для контента -->
        <div class="logo">
            <a href="/test">Тест</a>
        </div>

        <nav class="main-nav">
            <ul>
                <li><a href="/">Память сквозь время</a></li>
            </ul>
        </nav>

        <nav class="main-nav">
            <ul>
                <li><a href="/map/">Карта</a></li>
            </ul>
        </nav>
    </div>
</header>
<h3 class="first-paragraph">Города герои</h3>
<img src="http://127.0.0.1:8000/media/media/IMG_2603-Photoroom.png" alt="Левая картинка" class="side-image left">
<img src="http://127.0.0.1:8000/media/media/IMG_2603-Photoroom.png" alt="Правая картинка" class="side-image right">
<h1>Почетного звания «город-герой» в СССР были удостоены 12 городов и одна крепость, которые прославились своей героической обороной во время Великой Отечественной войны 1941–1945 годов. Главным критерием для получения данного статуса являлась историческая оценка вклада защитников города в победу над врагом. Это были города, оборона которых определила победу Красной Армии на основных стратегических направлениях фронта. Кроме того, такой статус получали города, жители которых продолжали сражаться с врагом в оккупации. В качестве материального подтверждения статуса награждениям населенным пунктам вручались медаль «Золотая звезда», орден Ленина и грамота Президиума Верховного Совета.
Ниже вы можете ознакомиться с картой, на которой расположены города-герои. Чтобы узнать информацию о городе, наведите курсор на звездочку.</h1>
<br>
<h3>Интерактивная карта</h3>
<br>
	<div class="map">
		<svg viewBox="0 0 805 437">
			<a href="#">
			<path class = "part" d="m 290.40653,103.91768 9.38309,0.23458 2.69763,-7.154603 2.69764,6.802733 9.85224,0.11729 -7.38918,5.62986 2.69764,7.74104 -7.62376,-4.92612 -6.68545,4.45697 1.75933,-7.62376
			z" fill="#5C2727" description-data="&lt;img src='{% get_media_prefix %}/media/Брестская крепость.jpg' alt='Image 1'&gt;&lt;h2&gt;Брестская крепость&lt;/h2&gt;&lt;p&gt;В ночь на 22 июня 1941 года гитлеровская Германия напала на Советский Союз без объявления войны. Граница СССР была прорвана в районе Брестской крепости. 22 июня в 3:15 по крепости был открыт артиллерийский огонь, заставший гарнизон врасплох. В 3:45 начался штурм.
28 июля 1944 г. войска 1-го Белорусского фронта освободили Брест от немецко-фашистских захватчиков.
8 мая 1965 г. Брестской крепости присвоено звание «Крепость-герой». &lt;/p&gt;"></path>
				</a>
			<a href="#">
			<path class = "part" d="m 338.49485,131.83237 9.73495,0.11728 3.0495,-8.09291 2.93222,7.85834 8.79664,0.11729 -6.68545,5.27798 2.46306,7.62376 -7.74104,-4.92612 -6.92003,5.39527 2.69764,-8.2102
z" fill="#5C2727" description-data="&lt;img src='{% get_media_prefix %}/media/Минск.jpg' alt='Image 1'&gt;&lt;h2&gt;Минск&lt;/h2&gt;&lt;p&gt;В период трехлетней оккупации трудящиеся Минска вели героическую борьбу с захватчиками. В городе и области активно действовали подпольщики и партизаны.
3 июля 1944 года Минск освободили. Город был разрушен и сожжён на 83 процента. Из 32 довоенных предприятий сохранилось 19. За время войны погибло около 70 тысяч минчан.
26 июня 1974 г. Минску присвоено звание «Город-герой». &lt;/p&gt;"></path>
				</a>
			<a href="#">
			<path class = "part" d="m 453.12286,108.71767 9.23659,-0.13259 3.49134,-8.52947 3.13778,8.08753 9.1482,0.17678 -7.07107,5.43588 2.96101,8.52948 -8.13173,-5.56847 -7.02687,5.74525 2.2539,-8.30851
z" fill="#5C2727" description-data="&lt;img src='{% get_media_prefix %}/media/Ленинград.jpg' alt='Image 1'&gt;&lt;h2&gt;Ленинград&lt;/h2&gt;&lt;p&gt;Ленинград - единственный город, переживший почти 3-х летнюю блокаду (872 дня), но так и не сдавшийся врагам. Жители города и защитники заплатили страшную цену за удержание города: по разным оценкам, число погибших оценивается от 300 тысяч до 1,5 миллиона человек.
Звание «Город-герой» присвоено 8 мая 1965 года.
 &lt;/p&gt;"></path>
				</a>
			<a href="#">
			<path class = "part" d="m 612.70803,29.168154 8.75044,-0.353553 2.56326,-7.733981 3.31457,7.51301 7.91075,-0.08839 -6.31976,5.214912 2.2539,6.717514 -6.89429,-4.596194 -6.62913,4.949748 2.43068,-7.822369
z" fill="#5C2727" description-data="&lt;img src='{% get_media_prefix %}/media/Мурманск.jpg' alt='Image 1'&gt;&lt;h2&gt;Мурманск&lt;/h2&gt;&lt;p&gt;Мурманск - один из тех городов, которые стали прифронтовыми с первых же дней войны.
792 авиационных налета и 185 тысяч
сброшенных бомб - однако Мурманск выстоял и продолжал работать как портовый город. В 1942 году основные стратегические действия развивались в суровых водах северных морей.
Героями Северного
флота было уничтожено более 200 боевых кораблей и около 400 транспортных.
6 мая 1985 года Мурманску присвоено звание «Город-герой». &lt;/p&gt;"></path>
				</a>
			<a href="#">
			<path class = "part" d="m 383.25,168.0625 7.375,-0.125 3.25,-7.5 3.1875,7.5 8.25,-0.375 -6.75,4.4375 2.375,7.75 -6.8125,-5 -6.8125,5 2.4375,-7.6875
z" fill="#5C2727" description-data="&lt;img src='{% get_media_prefix %}/media/Смоленск.jpg' alt='Image 1'&gt;&lt;h2&gt;Смоленск&lt;/h2&gt;&lt;p&gt;В ходе Смоленского сражения наши солдаты и офицеры проявили беззаветное мужество и героизм. Но, несмотря на это, Смоленск пал. Наступили черные дни немецкой оккупации.
Фашисты расстреляли, сожгли, повесили, замучили, закопали живыми 135 тысяч мирных жителей и военнопленных. А 25 сентября 1943 года Смоленск был освобожден.
7 мая 1985 года Смоленску присвоено звание «Город-герой». &lt;/p&gt;"></path>
				</a>
			<a href="#">
			<path class = "part" d="m 428.59509,204.66322 8.3969,-0.13259 2.56326,-7.99914 3.13778,7.64559 8.26431,0.26516 -6.40815,4.06587 2.2539,7.99914 -6.8059,-5.12652 -7.33623,4.94975 2.87262,-7.73398
z" fill="#5C2727" description-data="&lt;img src='{% get_media_prefix %}/media/Москва.jpg' alt='Image 1'&gt;&lt;h2&gt;Москва&lt;/h2&gt;&lt;p&gt;Звание «города-героя» столице принесла битва за Москву, длившаяся около 7 месяцев (203 дня и ночи) с 30 сентября 1941 г. по 20 апреля 1942 г.
5 декабря Советская Армия отбросила фашистов от Москвы и перешла в контрнаступление, которое переросло в общее наступление Красной Армии по всему советско-германскому фронту.
Это было началом коренного поворота в ходе Великой Отечественной войны.
8 мая 1965 г. Москве присвоено звание «Город-герой».
 &lt;/p&gt;"></path>
				</a>
			<a href="#">
			<path class = "part" d="m 301.31588,195.38244 8.97142,-0.0442 3.0052,-7.95495 2.96101,8.04334 8.97142,-0.0442 -7.55721,5.08233 2.25391,6.49655 -6.40816,-4.46361 -7.11526,5.03813 2.69584,-7.86656
z" fill="#5C2727" description-data="&lt;img src='{% get_media_prefix %}/media/Киев.jpg' alt='Image 1'&gt;&lt;h2&gt;Киев&lt;/h2&gt;&lt;p&gt;Один из первых городов, значительно задержавших продвижение врага в начале войны. Оборона продолжалась 72 дня. Было уничтожено свыше 100 тысяч фашистских солдат. После оставления
Киева частями Красной Армии, жители организовали активное сопротивление захватчикам.
8 мая 1965 года за героизм, проявленный во время обороны, Киеву было присвоено звание «Город-герой». &lt;/p&gt;"></path>
				</a>
			<a href="#">
			<path class = "part" d="m 402.91828,226.18578 9.01562,-0.13258 2.65165,-7.29204 2.60745,6.98268 9.54594,0.30936 -7.11526,5.21491 2.43068,7.46882 -7.11526,-5.56847 -7.38043,6.36396 3.22618,-8.52947
z" fill="#5C2727" description-data="&lt;img src='{% get_media_prefix %}/media/Тула.jpg' alt='Image 1'&gt;&lt;h2&gt;Тула&lt;/h2&gt;&lt;p&gt;Жители города опоясали Тулу лентами окопов, внутри города выкопали противотанковые рвы, установили надолбы и «ежи», построили баррикады и опорные пункты. Город-герой отбил все атаки противника и остался непокорённый. Защитники не только выдержали натиск врага,но и смогли отремонтировать 90 танков, более 100 артиллерийских орудий, наладить выпуск минометов, автоматов, винтовок.
7 декабря 1976 года городу
Туле было присвоено звание «Города-героя». &lt;/p&gt;"></path>
				</a>
			<a href="#">
			<path class = "part" d="m 243.0625,235.25 9.4375,0.0625 2.5625,-7.625 2.625,7.375 8.5,0.0625 -6.625,4.6875 2.625,7.75 -7.5,-5.0625 -6.5,4.875 2.375,-8.0625
z" fill="#5C2727" description-data="&lt;img src='{% get_media_prefix %}/media/Одесса.jpg' alt='Image 1'&gt;&lt;h2&gt;Одесса&lt;/h2&gt;&lt;p&gt;С 5 августа 1941 года Одесса стойко оборонялась 73 дня силами Приморской армии и Черноморского флота. Город был блокирован с суши превосходящими силами врага.
20 августа была сделана попытка штурма города. Наши войска и жители Одессы мужественно защищали свой город и остановили фашистов в
10-14 км от него.
8 мая 1965 года городе
Одессе было присвоено звание
«Город-герой». &lt;/p&gt;"></path>
				</a>
			<a href="#">
			<path class = "part" d="m 251,286.25 7.875,-0.0625 3.4375,-8.25 2.75,8 8.0625,0.125 -6.375,4.3125 2.625,7.75 -7.375,-5.4375 -6.6875,5.6875 2.625,-8.3125
z" fill="#5C2727" description-data="&lt;img src='{% get_media_prefix %}/media/Севастополь.jpg' alt='Image 1'&gt;&lt;h2&gt;Севастополь&lt;/h2&gt;&lt;p&gt;Севастополь - город русских моряков, крупнейшая база военно-морского флота. В первый же день войны немцы бомбили Севастополь. А осенью враг решил овладеть городом, но встретил ожесточенное сопротивление. 250 дней продолжалась героическая оборона Севастополя.
Во время освобождения
Севастополя особенно жестокие бои шли на Сапун-горе. Ровно за год до Дня Победы Севастополь - город русской боевой славы - был освобожден.
8 мая 1965 г. Севастополю присвоено звание «Город-герой». &lt;/p&gt;"></path>
				</a>
			<a href="#">
			<path class = "part" d="m 252.1875,312.3125 9.125,0.1875 2.75,-8.5 2.8125,8.25 8.75,0.0625 -6.625,5.4375 2.5625,7.375 -7.4375,-5.25 -7.25,5.5 3.1875,-8.125
z" fill="#5C2727" description-data="&lt;img src='{% get_media_prefix %}/media/Керчь.jpg' alt='Image 1'&gt;&lt;h2&gt;Керчь&lt;/h2&gt;&lt;p&gt;Фашисты установили в Керчи жестокий оккупационный режим. В городе и пригородах уничтожили 15 тысяч советских военнопленных, погибло 14 тысяч мирных жителей и свыше 14 тысяч было увезено на принудительные работы в Германию.
В ходе боев за освобождение
Кавказа и Крыма 11 апреля
1944 года город Керчь был освобожден воинами Отдельной
Приморской армии и
Черноморского флота. На горе
Митридат поднялось победное знамя.
14 сентября 1973 г. Керчи присвоено звание «Город-герой». &lt;/p&gt;"></path>
				</a>
			<a href="#">
			<path class = "part" d="m 264.625,330.125 8.3125,-0.1875 3.0625,-8.25 3,8.4375 7.5,0.375 -5.9375,3.6875 2.75,8.125 -7.3125,-5.1875 -6.5625,5.3125 2.4375,-8.3125
z" fill="#5C2727" description-data="&lt;img src='{% get_media_prefix %}/media/Новороссийск.jpg' alt='Image 1'&gt;&lt;h2&gt;Новороссийск&lt;/h2&gt;&lt;p&gt;В ходе битвы за Кавказ 1942-1943 гг. Новороссийск играл ключевую роль, его защитники не пустили гитлеровцев в Закавказье. 4 февраля 1943 года на юге города был высажен десант и захвачен плацдарм.
Начавшийся 10 сентября 1943 года штурм Новороссийска с суши, моря и плацдарма город был освобожден.
14 сентября 1973 года за срыв планов немецкого командования на кавказском направлении Новороссийску присвоено звание «Город Герой». &lt;/p&gt;"></path>
				</a>
			<a href="#">
			<path class = "part" d="m 378,354.125 8.5625,-0.25 3.0625,-7.9375 2.9375,8.125 8.625,-0.3125 -7.25,5.5625 3,7.1875 -7.3125,-4.9375 -7.125,5.0625 2.8125,-7.75
z" fill="#5C2727" description-data="&lt;img src='{% get_media_prefix %}/media/Сталинград.jpg' alt='Image 1'&gt;&lt;h2&gt;Сталинград&lt;/h2&gt;&lt;p&gt;Битва за Сталинград - решающая в истории Великой Отечественной войны. Битва продолжалась 200 дней и ночей - с 17 июля 1942-го до 2 февраля 1943 года. В ней участвовало свыше 2 миллионов человек, около 2000 танков, более 2000 самолетов, до 26 тысяч орудий.
Под Сталинградом советские войска разгромили пять армий: 2 немецкие, 2 румынские и 1 итальянскую.
Советские войска потеряли более миллиона человек.
1 мая 1945 года Сталинграду присвоено звание «Город-герой». &lt;/p&gt;"></path>
				</a>
		</svg>

		<div class="description">

		</div>
		<img src="http://127.0.0.1:8000/media/media/IMG_2534.JPG">

	</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<footer class="site-footer">
    <h3 class="h3footer">Помним. Гордимся. Чтим.</h3>
</footer>
{% endblock %}